@model IEnumerable<VideoGame>
@{
    ViewData["Title"] = "Game Library";
}

<h1>Browse Game Library</h1>

<a asp-action="Add" asp-controller="Library">
    Add Game
</a>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(m => m.Id)</th>
            <th>@Html.DisplayNameFor(m => m.Title)</th>
            <th>@Html.DisplayNameFor(m => m.Rating)</th>
            <th>@Html.DisplayNameFor(m => m.Description)</th>
            <th>@Html.DisplayNameFor(m => m.Price)</th>
            <th>Links</th>
        </tr>
    </thead>
    <tbody>
        @foreach(VideoGame g in Model)
        {
        <tr>
            <td>@Html.DisplayFor(m => g.Id)</td>
            <td>@Html.DisplayFor(m => g.Title)</td>
            <td>@Html.DisplayFor(m => g.Rating)</td>
            <td>@Html.DisplayFor(m => g.Description)</td>
            <td>@Html.DisplayFor(m => g.Price)</td>
            <td>
                <a asp-action="Update" asp-route-id="@g.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@g.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<nav aria-label="Catalog Pages">
    <ul class="pagination">
        @for(int i = 1; i <= (int)ViewData["Pages"]; i++)
        {
            if(i == (int)ViewData["CurrentPage"])
            {
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">
                        @i  <span class="sr-only">(current)</span>
                    </a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-all-route-id="@i">@i</a>
                </li>
            }
        }
    </ul>
</nav>